<!-- Main -->
<div id="main" class="wrapper style4">
  <!-- Content -->
  <div id="content" class="container">
    <section>
      <div class="12u breadcomb">・首頁 > 線上服務</div>
      <header class="major">
        <h2>線上服務</h2>
        <span class="byline">若您有任何疑問，可以透過此表單詢問，或是直接<a href="#team">聯絡服務人員</a>。</span>
      </header>
      <form id="contact" class="form-horizontal" role="form">
        <div class="form-group">
          <div class="col-sm-12">
            <input id="name" name="name" type="text" placeholder="大名*" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12">
            <input id="phone" name="phone" type="text" placeholder="聯絡電話*" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12">
            <textarea class="form-control" id="message" name="message" placeholder="留言內容*"></textarea>
          </div>
        </div>
        <button id="send" name="send" class="btn btn-block">send</button>
      </form>
    </section>
  </div>
</div>
<%=render partial: 'shared/team'%>