<!-- Main -->
<div id="main" class="wrapper style4">
	<div class="container">
		<div class="row">
			<!-- Sidebar -->
			<div id="sidebar" class="2u">
				<section>
					<header class="major">
						<h2>期數選擇</h2>
					</header>
					<ul class="default">
						<li><a href="#">2015年第4期</a></li>
						<li><a href="#">2015年第3期</a></li>
						<li><a href="#">2015年第2期</a></li>
						<li><a href="#">2015年第1期</a></li>
					</ul>
				</section>
			</div>
			<!-- Content -->
			<div id="content" class="10u skel-cell-important">
				<section>
					<%= render partial: 'shared/breadcomb', locals: {path: @path}%>
					<header class="major">
						<h2>線上型錄</h2>
						<span class="byline">2015年第3期</span>
					</header>
					<div data-configid="15471773/14850300" style="width:700px; height:450px; margin:0 auto; " class="issuuembed"></div><script type="text/javascript" src="http://e.issuu.com/embed.js" async="true"></script>
				</section>
			</div>
		</div>
	</div>
</div>