<!-- Main -->
<div id="main" class="wrapper style4">
  <!-- Content -->
  <div id="content" class="container">
    <section>
      <%= shop_user_nav_bar%>
      <%= render partial: 'shared/breadcomb', locals: {path: @path}%>
      <header class="major">
        <h2>追蹤清單</h2>
        <span class="byline">每頁Ｎ筆，共Ｎ項商品</span>
      </header>
      <table class="cart-table">
        <tr>
          <th><input type="checkbox" name="item_all" value="item_all"></th>
          <th>圖片</th>
          <th>商品</th>
          <th>庫存</th>
          <th>單價</th>
          <th>加入日期</th>
        </tr>
        <tr>
          <td data-th="選取"><input type="checkbox" name="item_01" value="item_01"></td>
          <td><%=image_tag '1700866_L.jpg'%></td>
          <td data-th="商品">熱銷商品標題1</td>
          <td data-th="庫存">尚有庫存</td>
          <td data-th="單價">$ 123</td>
          <td data-th="加入日期">2015/06/25</td>
        </tr>
      </table>
      <div class="row">
        <div class="6u del">
          刪除
        </div>
        <div class="6u top">
          TOP
        </div>
      </div>
      <!--頁碼-->
      <%=paginate_bar @lists%>
    </section>
  </div>
</div>