<div class="12u user_nav_bar">
<% if current_user %>
    <i class="fa fa-sign-out"></i> <%= link_to "登出", destroy_user_session_path, method: :delete %> |
    <i class="fa fa-key"></i> <%= link_to('修改密碼', edit_registration_path(:user)) %> |
    <i class="fa fa-star"> 追蹤清單</i> |
    <i class="fa fa-shopping-cart"> 購物車<span style="color:#ff0000;">（99）</span></i> 
<% else %>
    <i class="fa fa-user"></i> <%= link_to('註冊', new_registration_path(:user)) %> |
    <i class="fa fa-sign-in"></i> <%= link_to('登入', new_session_path(:user)) %>
<% end %>
</div>