<!-- Sidebar -->
<div id="sidebar" class="2u">
  <section>
    <header class="major">
      <h2>類別</h2>
    </header>
    <ul class="default">
      <%categories.each do |category, count|%>
      <li><%=link_to category, news_index_path(type: category)%>(<%=count%>)</li>
      <%end%>
      <li><a href="#">新品上市</a> (10)</li>
      <li><a href="#">特價資訊</a> (10)</li>
      <li><a href="#">營業訊息</a> (6)</li>
      <li><a href="#">站務公告</a> (5)</li>
    </ul>
  </section>
</div>