<!-- Sidebar -->
<div id="sidebar" class="2u">
  <section>
    <header class="major">
      <h2>類別</h2>
    </header>
    <ul class="default">
      <%categories.each do |category, count|%>
      <li><%=link_to category, news_index_path(type: category)%>(<%=count%>)</li>
      <%end%>
    </ul>
  </section>
</div>