<!-- Main -->
<div id="main" class="wrapper style4">
	<div class="container">
		<div class="row">
			<!-- Sidebar -->
			<%= render partial: 'news/left_section', locals: {categories: @categories}%>
			<!-- Content -->
			<div id="content" class="10u skel-cell-important">
				<section>
					<%= render partial: 'shared/breadcomb', locals: {path: @path}%>
					<header class="major">
						<h2><%=@title%></h2>
						<!--span class="byline">副標題</span-->
					</header>
					<ul class="default">
						<%@news.each do |new_record|%>
						<li><%=new_record.created_at.strftime('%F')%> - <%=link_to new_record.title, news_path(new_record.id)%><li>
						<%end%>
					</ul>
				</section>
			</div>
		</div>
	</div>
<!--頁碼-->
<%= will_paginate @news%>
<div class="pagination">
	<a href="#" class="page gradient">first</a>
	<a href="#" class="page gradient">2</a>
	<a href="#" class="page gradient">3</a><span class="page active">4</span>
	<a href="#" class="page gradient">5</a>
	<a href="#" class="page gradient">6</a>
	<a href="#" class="page gradient">last</a>
</div>
</div>