<!-- Main -->
<div id="main" class="wrapper style4">
	<div class="container">
		<div class="row">
			<!-- Sidebar -->
			<%= render partial: 'news/left_section', locals: {categories: @categories}%>
			<!-- Content -->
			<div id="content" class="10u skel-cell-important">
				<section>
					<%#= user_nav_bar%>
					<%= render partial: 'shared/breadcomb', locals: {path: @path}%>
					<header class="major">
						<h2><%=@new.title%></h2>
						<!--span class="byline">副標題</span-->
					</header>
					<p><%=@new.content%></p>
				</section>
			</div>
		</div>
	</div>
</div>
</body>
</html>