 <%= stylesheet_link_tag 'entrys' %>
<!-- Banner -->
	<div id="banner">
		<section class="container">
			<h2>茂發花果園</h2>
			<!--span>副標題</span-->
			<p>我們位於屏東台三線，提供您蔬果及花卉，及種植的諮詢與建議。</p>
		</section>
	</div>
</div>
<!-- Section One -->
<div class="wrapper style2">
	<section class="container">
		<div class="row double">
			<div class="6u">
				<header class="major">
					<h2>店鋪概略敘述</h2>
					<span class="byline">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</span>
				</header>
			</div>
			<div class="6u">
				<h3>線上購物敘述</h3>
				<p>DLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
				<a href="#" class="button">帶我逛逛</a>
			</div>
		</div>
	</section>
</div>
<!-- Section Three -->
<div class="wrapper style4">
	<section class="container">
		<header class="major">
			<h2>我們提供以下服務</h2>
			<span class="byline">提升農業及園藝規劃的生產力</span>
		</header>
		<div class="row flush">
			<div class="4u">
				<ul class="special-icons">
					<li>
						<span class="fa fa-cogs"></span>
						<h3>農業及園藝規劃的建議</h3>
						<p>在這裡，我們賣的不只是產品，在播種後能否長得漂亮才是重點。</p>
					</li>
				</ul>
			</div>
			<div class="4u">
				<ul class="special-icons">
					<li>
						<span class="fa fa-pagelines"></span>
						<h3>庭園園藝相關</h3>
						<p>販售各式水果苗、花卉、草皮等產品</p>
					</li>
				</ul>
			</div>
			<div class="4u">
				<ul class="special-icons">
					<li>
						<span class="fa fa-lemon-o"></span>
						<h3>各式果類</h3>
						<p>提供檸檬類、棗子類、芭樂類、芒果類等產品選擇</p>
					</li>
				</ul>
			</div>
		</div>
	</section>
</div>
<%=render partial: 'shared/team'%>