 <%= stylesheet_link_tag 'steps' %>
<!-- Main -->
<div id="main" class="wrapper style4">
	<div class="container">
		<div class="row">
			<!-- Sidebar -->
			<div id="sidebar" class="2u">
				<section>
					<header class="major">
						<h2>流程</h2>
					</header>
					<ul class="default">
						<li><a href="#">挑選</a></li>
						<li><a href="#">匯款</a></li>
						<li><a href="#">運送</a></li>
						<li><a href="#">售後服務</a></li>
					</ul>
				</section>
			</div>
			<!-- Content -->
			<div id="content" class="10u skel-cell-important">
				<section>
					<%#= user_nav_bar%>
					<%= render partial: 'shared/breadcomb', locals: {path: @path}%>
					<header class="major">
						<h2>購物流程</h2>
						<!--span class="byline">副標題</span-->
					</header>
					<%=image_tag 'cargo1.jpg', class: "feature image", style: "max-width:100%;"%>
					<h4 align="left"><span size="3"><span color="#ff0000" size="6" >運費計算</span><br />
				</span></h4>
				<h4 align="left"><span size="3"><span color="#000000" >西部地區 <br />
					<br />
					先匯款的優惠如下<br />
					<br />
					方案1-購物滿1500元,運費一箱 0 元<br />
					<span color="#ff0000"><br />
					</span>　　方案2-未滿額度,兩三株也可以宅配,運費一箱250元<span color="#ff0000"><br />
					<br />
					貨到付款的話,以上各方案再加上100元就可貨到付款<br />
				</span></span></span></h4>
				<h4 align="left"><span size="3"><span color="#000000" >     <br />
				</span></span></h4>
				<h4 align="left"><span color="#000000" size="3" >東部地區</span><span color="#000000" size="3" ><span size="3"><br />
				運費須視情況增加，偏遠地區若需聯運費用要再加上聯運附加費用<br />
			</span></span><span color="#ff0000" size="3" >(1500元免運,不含花東外島地區)<br />
			<br />
			<%=image_tag 'cargo2.jpg', class: "feature image", style: "max-width:100%;"%>
			親愛的農友您們好：<br />
			網路下單可以減少抄寫作業的疏失,更可以減少電話費用<br />
			訂單成立與否,隔天我會再次電話確定才出貨<br />
			所以下錯單或想改變運費的,出貨前都可以隨意更改喔<br />
			不用去害怕下單,先下單可以減少我們雙方電話抄寫資料的時間^^<br />
			<br />
			<br />
			<br />
		</span></h4>
		<h4 align="left"><span color="#000000" size="3" ><span size="5"><span size="4">滿1500元規則如下：<br />
			＊滿1500元先匯款才有免運服務。<br />
			一箱可裝約８到10株！這一箱超過1500元才有免運服務。<br />
		(不包含花東外島,及偏遠地區)</span></span></span></h4>
		<h4 align="left"><span color="#000000" size="3" ><span size="5"><span size="4"><br />
			例：如購滿1800元！需要裝兩箱！則需加收一箱的運費250元。<br />
			也就是說這次的購買則是1800+250=2050元。<br />
			<br />
			＊未滿1500元者，需付運費運費250元，(貨到付款者)350元。<br />
			＊以上皆不包含花東外島偏遠地區，某些地區會有增收運費的問題，我們會先告知您增收費用。<br />
			如有疑問可以來電詢問:0911880011 0911880033<br />
			感謝您的購買支持^^<br />
		</span></span></span></h4>
	</section>
</div>
</div>
</div>
</div>