// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
    /* 搜尋框 */
      input {
        outline: none;
      }
      input[type=search] {
        -webkit-appearance: textfield;
        -webkit-box-sizing: content-box;
        font-family: inherit;
        font-size: 100%;
      }
      input::-webkit-search-decoration,
      input::-webkit-search-cancel-button {
        display: none; 
      }


      input[type=search] {
        background: #ededed url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
        border: solid 1px #ccc;
        padding: 0px 10px 5px 32px;
        width: 65px;
        
        -webkit-border-radius: 10em;
        -moz-border-radius: 10em;
        border-radius: 10em;
        
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        transition: all .5s;
      }
      input[type=search]:focus {
        width: 130px;
        background-color: #fff;
        border-color: #66CC75;
        
        -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
        -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
        box-shadow: 0 0 5px rgba(109,207,246,.5);
      }


      input:-moz-placeholder {
        color: #999;
      }
      input::-webkit-input-placeholder {
        color: #999;
      }

      /* 搜尋紐 */
      input.search{
        border-radius: 20px;
        font-size: 16px !important;
        height: 35px;
        width: 54px !important;
        padding: 0 !important;
        margin: 10px 0 0 0 !important;
      }

      /* 側邊欄樣式 */
      #sidebar h3{
        padding-bottom: 10px;
      }

      hr{
        border:solid 1px #fff !important;
        border-top: solid 1px #ccc !important;
      }